<!-- <p>landingpage works!</p> -->
<app-header></app-header>
<div id="demo" class="carousel mt-0 slide carousel-fade" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
    <li data-target="#demo" data-slide-to="3"></li>
  </ul>

  <!-- The slideshow -->
  <div class="carousel-inner ">
    <div class="carousel-item active"  data-interval="3000">
      <div class="container contain-height mt-5">
          <div class="row justify-content-center mt-5">
              <div class="col-md-6 mx-auto mt-5">
                  <div class="p-3 my-5 col-12">
                      <div class="anser-style mt-3">
                          SQI-FORUM
                      </div>
                      <div class="small bold mt-4">
                          SitePoint is focused on helping beginners and intermediate users to better understand their
                          language of choice. It also provides help in the field of business and marketing. The main
                           site is populated by articles on topics like
                      </div>
                      <div class="mt-5">
                          <button class="btn shadow continue-btn" routerLink="/home">Continue Here<span class="ml-2 fa fa-angle-double-right"></span></button>

                      </div>
                  </div>
              </div>
              <div class="col-md-6 mt-5">
                  <div class="carousel-image">
                      <img src="../../assets/1607442310152.png" alt="Los Angeles" class="img-fluid p-2 p-sm-2 my-md-4">
                  </div>
              </div>
          </div>
      </div>
    </div>
    <div class="carousel-item" data-interval="3000">
      <div class="container contain-height mt-5">
          <div class="row justify-content-center mt-5">
              <div class="col-md-6 mx-auto mt-5">
                  <div class="p-3 my-5 col-12">
                      <div class="anser-style mt-3">
                          SQI-FORUM
                      </div>
                      <div class="small bold mt-4">
                        SitePoint is focused on helping beginners and intermediate users to better understand their
                        language of choice. It also provides help in the field of business and marketing. The main
                         site is populated by articles on topics like
                      </div>
                      <div class="mt-5">
                          <button class="btn shadow continue-btn"  routerLink="/home">Continue Here<span class="ml-2 fa fa-angle-double-right"></span></button>

                      </div>
                  </div>
              </div>
              <div class="col-md-6 mt-5">
                  <div class="carousel-image">
                      <img src="../../assets/1607442275172.png" alt="Los Angeles" class="img-fluid p-2 p-sm-2 my-md-4">
                  </div>
              </div>
          </div>
      </div>
    </div>
    <div class="carousel-item" data-interval="3000">
      <div class="container contain-height mt-5">
          <div class="row justify-content-center mt-5">
              <div class="col-md-6 mx-auto mt-5">
                  <div class="p-3 my-5 col-12">
                      <div class="anser-style mt-3">
                          SQI-FORUM
                      </div>
                      <div class="small mt-4" >
                          a SitePoint is focused on helping beginners and intermediate users to better understand their
                          language of choice. It also provides help in the field of business and marketing. The main
                           site is populated by articles on topics like
                      </div>
                      <div class="mt-5">
                          <button class="btn shadow continue-btn" routerLink="/home">Continue Here<span class="ml-2 fa fa-angle-double-right"></span></button>

                      </div>
                  </div>
              </div>
              <div class="col-md-6 mt-5 mx-auto">
                  <div class="carousel-image">
                      <img src="../../assets/1607442188108.png" alt="Los Angeles" class="img-fluid p-2 p-sm-2 my-md-4">
                  </div>
              </div>
          </div>
      </div>
    </div>
    <div class="carousel-item" data-interval="3000">
      <div class="container contain-height mt-5">
          <div class="row justify-content-center mt-5">
              <div class="col-md-6 mx-auto mt-5">
                  <div class="p-3 my-5 col-12">
                      <div class="anser-style mt-3">
                          SQI-FORUM
                      </div>
                      <div class="small mt-4" >
                        SitePoint is focused on helping beginners and intermediate users to better understand their
                        language of choice. It also provides help in the field of business and marketing. The main
                         site is populated by articles on topics like
                      </div>
                      <div class="mt-5">
                          <button class="btn shadow continue-btn" routerLink="/home">Continue Here<span class="ml-2 fa fa-angle-double-right"></span></button>

                      </div>
                  </div>
              </div>
              <div class="col-md-6 mt-5 mx-auto">
                  <div class="carousel-image">
                      <img src="../../assets/1607442247314.png" alt="Los Angeles" class="img-fluid p-2 p-sm-2 my-md-4">
                  </div>
              </div>
          </div>
      </div>
    </div>
  </div>

  <!-- Left and right controls -->
  <!-- <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a> -->
</div>
