
<div class="logoContainer mx-auto">
    <img src="../../assets/sqicollege.png" width="100px" height="100px"/>
</div>
<form class="card col-6 mx-auto round text-center">
    <b class="signText">Sign-in to your account</b>
    <input type="text" class="form-control text-center input col-8 mx-auto" placeholder="Username"/>
    <input type="text" class="form-control text-center input col-8 mx-auto" placeholder="Password"/>
    <button class="btn col-2 mx-auto signButton">Sign In</button>
    <div class="col-8 textEdit mx-auto">
        <p class="text-right">Don't have an account?</p>
        <p class="text-right textColorBlue">Sign up!</p>
    </div>
</form>