<!-- <p>header works!</p> -->
<nav class="navbar  navbar-expand-sm navbar-light bg-white shadow-sm fixed-top">
  <div class="container">
      <a href="" class="navbar-brand"><img src="../../assets/sqi.jpg"  style="width: 40px;" alt=""> SQI FORUM</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="fa fa-bars"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a href="" class="nav-link btn btn-signin">Sign in</a>
            </li>
            <li class="nav-item">
              <a href="" class="nav-link btn btn-signup">Sign Up</a>
          </li>
        </ul>
      </div>
  </div>
</nav>
