.text-signin{
  color: #021042 !important;
  border-radius: 5px;
  padding: 0.4rem;
}
.text-signup{
  border-radius: 5px;
  color: #021042 !important;
  box-shadow: none;
  padding: 0.3rem;
}
/* .btn-signup:hover{
  background:linear-gradient(to bottom, darkblue,#181c24fd);
  color: white !important;
} */
/* .btn-signin:hover{
  background: inherit;
  border: 2px solid #2b2d30fd;
  border-radius: 5px;
  box-shadow: none;
  color: darkblue !important;
} */
