<!-- <p>header works!</p> -->
<nav class="navbar navbar-expand-md navbar-light bg-white shadow-sm fixed-top" style="height: 55px;">
  <div class="container">
      <a href="" class="navbar-brand"><img src="../../assets/sqi.jpg"  style="width: 40px;" alt=""> SQI FORUM</a>
      <ul class="navbar-nav">
          <li class="nav-item">
              <a href="" class="nav-link btn">Sign in</a>
          </li>
          <li class="nav-item">
            <a href="" class="nav-link btn">Sign Up</a>
        </li>
      </ul>
  </div>
</nav>
