<app-header></app-header>
<!-- <<<<<<< HEAD
<div class="container mt-5 my-5">
    <span class="text-center d-block"[style.color]="submitStatus=='Your post was succesful'?'green':'red'">{{submitStatus}}</span>
    <div class="row p-3">
        <div class="col-md-10 text-center div  mx-auto">
            <h2 class="mt-4">Create a new Post</h2  >
======= -->
<div class="container  mt-2 p-1 p-md-3">
    <app-navbar></app-navbar>
    <span class="text-center d-block"[style.color]="submitStatus=='Your post was succesful'?'green':'red'">{{submitStatus}}</span>
    <div class="row rounded">
        <div class="col-md-10 text-center shadow-sm shadowT mx-auto">
            <h1 class="mt-4">Create a new Post</h1>
<!-- >>>>>>> b509b7a3f08ad4819f11df3345932c5f63a513a6 -->
            <form action="" class="border-0" [formGroup]="useForm">
                <div class="row form-group">
                    <div class="col-md-3">
                        <select formControlName="category" class="form-control mt-2" (click)="setDisabled()" required>
                            <option [disabled]="disabled" selected>---&nbsp;&nbsp;Categories&nbsp;&nbsp;---</option>
                            <option value={{c.id}} class="" *ngFor="let c of categories">
                                <span *ngIf="!loading">{{c.name}}</span>
                            </option>
                            <option disabled *ngIf="loading">Loading...</option>
                        </select>
                    </div>
                    <div class="col-md-9">
                        <input type="text" id="" name="" formControlName="title" required class="text-muted form-control mt-2"
                            placeholder="Post Topic">
                    </div>
                </div>
                    <div class="">
                        <quill-editor class="editorStyle" [styles]="{height: '200px'}" id="subject" formControlName="body" required></quill-editor>
                    </div>

                <div>
                    <input class="btn" (click)="submitPost()" [disabled]="useForm.invalid" type="submit" value="Publish" />
                </div>
            </form>
        </div>
    </div>
</div>

<app-footer></app-footer>