.postbodydiv {
    background: linear-gradient(rgba(249,249,249), rgba(255,254,254));
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.postbodydowndiv {
    background: linear-gradient(rgba(249,249,249), rgba(255,254,254));
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}


.postdiv {
    background-color: #F6F6F6;
}   

.span {
    margin-top: 10px;
    margin-right: 25px;
    float: right;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  a {
      float: right;
      /* padding-top: 10px; */
  }
 .userinfo {
     border-radius: 50px;
     height: 72px;
     border: 1px solid #041A60;
 }
  
  .img {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background-color: rgb(207,232,220);
    /* margin-top: 5px; */
  }

  .posttime {
      border-radius: 50px;
      border: #041A60;
      padding: 1.5rem;
    left: 0;
    }

    .commentdiv {
        background-color: #F1F2F5;
        margin-top: 30px;
        padding: 2rem;
        margin: 25px;
        border-radius: 20px;
        border: 1px solid grey;
    }
    .commenticons {
        width: 200px;
        text-align: center;
        color: #F1F1F1;
        text-decoration: #F1F1F1;
        float: right;
        height: 30px;
        background-color: #041A60;
        border-radius: 50px;
    }

    .commenticons2 {
        width: 200px;
        text-align: center;
        color: #F1F1F1;
        text-decoration: #F1F1F1;
        float: left;
        margin-top: 20px;
        height: 30px;
        background-color: #041A60;
        border-radius: 50px;
    }

    
    .comment{
        border: 1px solid grey;
        background-color: #FBFBFB;
        border-radius: 20px;
        padding: 1.5rem;
    }

    .subcomment {
        background-color: #F1F1F1;
        border-radius: 20px;
        padding: 1.5rem;
    }

    .flex-container > div {
        background-color: #f1f1f1;
        width: 100px;
        margin: 10px;
        text-align: center;
        line-height: 75px;
        font-size: 30px;
    }

    .backbtn {
        outline: none;
        border: none;
        background-color: transparent;
    }

    .username {
        display: flex;
    }
