@import '../app.component.css';
.postDiv{
    word-wrap: break-word;
}

.fa-angle-double-left{
    border-radius: 0% !important;
    box-shadow: none;
}

.avatarDiv{
    height: 50px;
    cursor: pointer;
}

.smallAvatar{
    width:50px;
    height:50px;
}

.reactionDiv{
    width:fit-content;
}

.reactionDiv i{
    cursor: pointer;
    color: #041A60;
    /* font-size: 1.4rem; */
}

.reactionDiv i sup{
    /* font-size: 0.6rem; */
}

.form-control{
    box-shadow: none;
}
.form-control:focus{
    border-color:#041A60 ;
}   
.sendButton{
    background-color: #041A60;
    box-shadow: none;
    width: 60px;
}
.sub-reactionDiv{
    width:fit-content;
}

.sameCategoryLink{
    cursor: pointer;
    outline: none;
    border: none;
}