<app-header></app-header>

<div class="container  mt-2 p-1 p-md-3">
    <app-navbar></app-navbar>
    <div class="row p-0">
        <div class="col-md-9 p-0 pr-2 col-lg-10">
            <div class="col-12  mb-3 bg-white mr-auto border rounded p-0">
                <div class="border-bottom">
                    <button class="fa fa-angle-double-left btn btn-light mr-2" routerLink="/home" ></button>
                    <span class="small font-weight-bold">{{postDetail.title}} </span>
                </div>
                <div class="p-3 postDiv">
                    <quill-view-html [content]="postDetail.body" theme="snow"></quill-view-html>
                    <!-- {{postDetail.body}} <br/> <br/>
    
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste quia amet a tempora, hic repudiandae quis. Quia alias quaerat, ratione veritatis nostrum excepturi quasi laboriosam consectetur fugiat voluptas velit pariatur. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste quia amet a tempora, hic repudiandae quis. Quia alias quaerat, ratione veritatis nostrum excepturi quasi laboriosam consectetur fugiat voluptas velit pariatur. <br/><br/>
    
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste quia amet a tempora, hic repudiandae quis. Quia alias quaerat, ratione veritatis nostrum excepturi quasi laboriosam consectetur fugiat voluptas velit pariatur. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste quia amet a tempora, hic repudiandae quis. Quia alias quaerat, ratione veritatis nostrum excepturi quasi laboriosam consectetur fugiat voluptas velit pariatur. <br/><br/>
    
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste quia amet a tempora, hic repudiandae quis. Quia alias quaerat, ratione veritatis nostrum excepturi quasi laboriosam consectetur fugiat voluptas velit pariatur. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste quia amet a tempora, hic repudiandae quis. Quia alias quaerat, ratione veritatis nostrum excepturi quasi laboriosam consectetur fugiat voluptas velit pariatur. <br/> -->
                </div>
                <div class="row p-3">
                    <div class="col-md-6 d-flex">
                        <div (click)="showProfile()" class="d-flex border avatarDiv pr-2 rounded">
                            <img class="smallAvatar" src="../../assets/profile.png" alt="">
                            <div class="m-auto">
                                <h4 class="font-weight-bold mb-n2">{{postDetail.author.username}}</h4>
                                <small class="small">{{postDetail.author.email}}</small>
                            </div>
                        </div>
                        <div class="ml-2 small mt-1">
                            <span class="badge badge-danger p-1 mx-auto">{{postDetail.created |slice:11:16}}</span>
                            <p class="small">{{postDetail.created |slice:0:10}}</p>
                        </div>
                    </div>
                    <div class="col-md-6 mx-auto">
                        <div class="reactionDiv p-2 rounded my-auto ml-auto">
                            <i class="fa mr-4 ml-3" [class.fa-thumbs-up]="!condition" [class.fa-thumbs-o-up]="condition" (click)="handleCondition()">
                                <sup class="badge rounded-pill badge-primary">{{upvoteLength}}</sup>
                            </i>
                            <i class="fa fa-comment-o mr-4" data-toggle="collapse" data-target="#maincomments">
                                <sup class="badge rounded-pill badge-danger">{{commentLength}}</sup>
                            </i>
                            <i class="fa fa-mail-forward mr-3"></i>
                        </div>
                    </div>
                    <div class="d-flex col-12 mt-1">
                        <input type="text" placeholder="Type Comment here" class="form-control" [(ngModel)]="text">
                        <button class="fa fa-send-o ml-2 sendButton btn text-white" (click)="sendComment()"></button>
                    </div>
                </div>
            </div>
    
            <div id="maincomments" class="collapse">
                <div *ngFor="let comments of postDetail.non_reply_comments" class=" col-12 mb-2 pb-3 mx-auto border bg-white rounded p-0">
                    <div class="p-3">{{comments.body}}</div>
                    <div class="row p-3">
                        <div class="col-md-6 d-flex">
                            <div class="d-flex border avatarDiv pr-2 rounded" (click)="showCommenterProfile(comments.commenter.id)">
                                <img class="smallAvatar" src="../../assets/profile.png" alt="">
                                <div class="m-auto">
                                    <h4 class="font-weight-bold mb-n2">{{comments.commenter.username}}</h4>
                                    <small class="small">{{comments.email}}</small>
                                </div>
                            </div>
                            <div class="ml-2 small mt-1">
                                <span class="badge badge-danger p-1 mx-auto">{{comments.created |slice:11:16}}</span>
                                <p class="small">{{comments.created |slice:0:10}}</p>
                            </div>
                        </div>
                        <div class="col-md-6 mx-auto">
                            <div class="reactionDiv p-2 rounded text-white my-auto ml-auto">
                                <i class="fa fa-thumbs-o-up mr-4 ml-3" [class.fa-thumbs-up]="!condition" [class.fa-thumbs-o-up]="condition" (click)="likeComment(comments.id)">
                                    <sup class="badge rounded-pill badge-primary">{{comments.upvotes.length}}</sup>
                                </i>
                                <i class="fa fa fa-comment-o mr-4" data-toggle="collapse" [attr.data-target]="'#comment'+comments.id">
                                    <sup class="badge rounded-pill badge-danger">{{comments.replies.length}}</sup>
                                </i>
                                <i class="fa fa fa-mail-forward mr-3"></i>
                            </div>
                        </div>
        
        
                        <!-- sub-comment -->
                        <div [id]="'comment'+comments.id" class="collapse col-md-11 ml-1 ml-md-auto mb-3 border-left p-0 mt-3">
                            <div *ngFor="let replies of comments.replies">
                                <div class="p-3">
                                    {{replies.body}}
                                </div>
                                <div class="row p-3">
                                    <div class="col-md-6 d-flex">
                                        <div class="d-flex border avatarDiv pr-2 rounded">
                                            <img class="smallAvatar" src="../../assets/profile.png" alt="">
                                            <div class="m-auto">
                                                <!-- <h4 class="font-weight-bold mb-n2">Felix Joy</h4> -->
                                                <small class="small">{{replies.email}}</small>
                                            </div>
                                        </div>
                                        <div class="ml-2 small mt-1">
                                            <span class="badge badge-danger p-1 mx-auto">{{replies.created |slice:11:16}}</span>
                                            <p class="small">{{replies.created |slice:0:10}}</p>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mx-auto">
                                        <div class="reactionDiv p-2 rounded text-white my-auto ml-auto">
                                            <i class="fa fa-thumbs-o-up mr-4 ml-3" [class.fa-thumbs-up]="!condition" [class.fa-thumbs-o-up]="condition" (click)="handleCondition()">
                                                <sup class="badge rounded-pill badge-primary">11</sup>
                                            </i>
                                            <i class="fa fa fa-mail-forward mr-3"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
        
                        <div class="d-flex col-12 ml-auto mt-1 p-0 pr-3 pl-3">
                            <input type="text" placeholder="Type Reply here" class="form-control" (keyup)="replyInput($event)" [id]="'sc'+comments.id" name="inputReply" #inputReply>
                            <button class="fa fa-send-o ml-2 sendButton btn text-white" (click)="sendReply(comments.id)"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-3 pr-0 pl-2 col-lg-2 d-none d-md-inline">
            <div class=" bg-white rounded p-3 border">
                <h4>Post from the same Category</h4><hr/>
                <h4>Post from the same Category</h4><hr/>
            </div>
        </div>
    </div>
</div>


<app-footer></app-footer>