<div class="container">
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col mt-3 d-flex postbodydiv shadow-sm">
                    <i class="fas fa-angle-double-right mt-2 mr-4 prefix"></i>
                    <p class="mt-2">Lorem, ipsum dolor </p>
                </div>
            </div>
            <div class="row">
                <div class="col postdiv">
                    <div class="row">
                        <div class="col-12 col-md-12">
                            <h3 class="mt-3 text-center"><b>LOREM IPSUM</b></h3>
                            <h4 class="pl-3 pr-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae
                                ea nostrum eius autem nulla similique cumque accusantium consectetur magnam laboriosam
                                eaque nihil quo minus iusto, saepe hic? Unde, quos dolorem. Lorem ipsum dolor sit amet
                                consectetur adipisicing elit. Provident minima tempora ipsa rem voluptatibus, iste
                                necessitatibus dolorum nulla. Similique error fuga veritatis odit dignissimos autem rem
                                omnis nemo. Sunt, placeat! Lorem ipsum dolor sit amet consectetur adipisicing elit. Non,
                                quae? Inventore unde cum ex magni, fuga nam eos minus corrupti nobis omnis beatae veniam
                                nemo repellendus placeat. Aliquam, repudiandae labore?</h4>
                            <h4 class="pl-3 pr-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae
                                ea nostrum eius autem nulla similique cumque accusantium consectetur magnam laboriosam
                                eaque nihil quo minus iusto, saepe hic? Unde, quos dolorem. Lorem ipsum dolor sit amet
                                consectetur adipisicing elit. Provident minima tempora ipsa rem voluptatibus, iste
                                necessitatibus dolorum nulla. Similique error fuga veritatis odit dignissimos autem rem
                                omnis nemo. Sunt, placeat! Lorem ipsum dolor sit amet consectetur adipisicing elit. Non,
                                quae? Inventore unde cum ex magni, fuga nam eos minus corrupti nobis omnis beatae veniam
                                nemo repellendus placeat. Aliquam, repudiandae labore?</h4>
                            <h4 class="pl-3 pr-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae
                                ea nostrum eius autem nulla similique cumque accusantium consectetur magnam laboriosam
                                eaque nihil quo minus iusto, saepe hic? Unde, quos dolorem. Lorem ipsum dolor sit amet
                                consectetur adipisicing elit. Provident minima tempora ipsa rem voluptatibus, iste
                                necessitatibus dolorum nulla. Similique error fuga veritatis odit dignissimos autem rem
                                omnis nemo. Sunt, placeat! Lorem ipsum dolor sit amet consectetur adipisicing elit. Non,
                                quae? Inventore unde cum ex magni, fuga nam eos minus corrupti nobis omnis beatae veniam
                                nemo repellendus placeat. Aliquam, repudiandae labore?
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae ea nostrum eius
                                autem nulla similique cumque accusantium consectetur magnam laboriosam eaque nihil quo
                                minus iusto, saepe hic? Unde, quos dolorem. Lorem ipsum dolor sit amet consectetur
                                adipisicing elit. Provident minima tempora ipsa rem voluptatibus, iste necessitatibus
                                dolorum nulla. Similique error fuga veritatis odit dignissimos autem rem omnis nemo.
                                Sunt, placeat! Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, quae?
                                Inventore unde cum ex magni, fuga nam eos minus corrupti nobis omnis beatae veniam nemo
                                repellendus placeat. Aliquam, repudiandae labore?</h4>
                            <div class="row body grid-container">
                                <div class="col-sm-3 col-md-3">
                                    <div style="border: 1px solid #041A60; margin-right: 75px; border-radius: 50px;">
                                        <img class="img" src="./assets/image/icons8.png" alt="">
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-6" style="">
                                    <span class="text-white"
                                        style="background-color: #041A60; padding: 7px; border-radius: 50px;">18:00</span>
                                    <p class="mt-2">Date mm yy</p>
                                </div>
                                <div class="col-sm-3 col-md-3">
                                    <div class="commenticons text-center mt-2" >
                                        <span class="mt-3 fa fa-thumbs-up mr-5"></span><span class="fa fa-mail-forward "></span> <span class="fa fa-comment mr-5"></span><span class="fa fa-thumbs-down"></span>
                                    </div>
                                </div>
                                <!-- </div> -->
                                <!-- </div> -->
                            </div>
                            <div class="row">
                                <div class="col commentdiv shadow-sm">
                                    <div class="comment">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias esse sit
                                        reprehenderit cum eos eligendi nobis rerum itaque. Possimus iste tenetur quod
                                        officia dolorum, tempora quae qui reprehenderit deleniti ipsam! This paragraph
                                        has an outline 15px outside the border edge. Lorem ipsum dolor sit amet
                                        consectetur adipisicing elit. Esse asperiores et exercitationem, consequatur
                                        perspiciatis voluptas quibusdam error, ipsam ipsum praesentium consectetur nisi
                                        nihil provident. Possimus doloribus saepe doloremque iusto aspernatur? Lorem
                                        ipsum dolor sit amet consectetur adipisicing elit. Iure natus rerum itaque.
                                        Eligendi est temporibus numquam, distinctio enim consequuntur ducimus
                                        perferendis rerum facilis ut, atque adipisci! Aspernatur culpa quam enim!
                                        <div class="row body grid-container2">
                                            <div class=" col-md-3">
                                                <div class="commenticons2">
                                                    <span class=" mt-3 fa fa-thumbs-up mr-4"></span><span
                                                        class="fa fa-comment mr-4"></span><span
                                                        class="fa fa-thumbs-down mr-4"></span><span class="fa fa-forward"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-6 mt-4">
                                                <div style="float: right;">
                                                    <span class="text-white"
                                                        style="padding: 1.0rem; background-color: #041A60; border-radius: 50px;">18:00</span>
                                                    <p class="mt-2">Date mm yy</p>
                                                </div>
                                            </div>
                                            <div class=" col-md-3">
                                                <div
                                                    style="border: 1px solid #041A60; border-radius: 50px; width: 180px; float: right; ">
                                                    <img class="img" src="./assets/image/icons8.png" alt="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="subcomment mt-3">
                                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque maxime
                                        dolorum perspiciatis officia aperiam. Ipsa placeat perspiciatis odio eaque,
                                        error mollitia sequi sapiente molestiae veniam ullam accusantium laborum quo
                                        ducimus. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Expedita non
                                        laboriosam, dolorem necessitatibus facilis itaque reprehenderit dolore dolorum
                                        molestiae numquam ex alias quaerat minima beatae! Sequi quod iusto accusantium
                                        amet?
                                        ddsf
                                        <div class="row body grid-container2">
                                            <div class=" col-md-3">
                                                <div class="commenticons2">
                                                    <span class="mt-3 fa fa-thumbs-up mr-4"></span><span
                                                        class="fa fa-comment mr-4"></span><span
                                                        class="fa fa-thumbs-down mr-4"></span><span class="fa fa-forward"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-6 mt-4">
                                                <div style="float: right;">
                                                    <span class="text-white"
                                                        style="padding: 1rem; background-color: #041A60; border-radius: 50px;">18:00</span>
                                                    <p class="mt-2">Date mm yy</p>
                                                </div>
                                            </div>
                                            <div class=" col-md-3">
                                                <div
                                                    style="border: 1px solid #041A60; border-radius: 50px; width: 180px; float: right; ">
                                                    <img class="img" src="./assets/image/icons8.png" alt="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="comment mt-2">
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic a itaque inventore. Quidem
                                architecto itaque tempora odio voluptatum velit nostrum consequatur eaque nihil
                                repellendus facilis, consectetur excepturi, est sunt cum! Lorem ipsum dolor sit amet
                                consectetur adipisicing elit. Natus a porro in consequatur voluptate necessitatibus
                                eaque? Possimus debitis natus similique delectus placeat aut odio explicabo voluptatum
                                aspernatur blanditiis, eum laudantium.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>