
<div class="logoContainer mx-auto">
    <img src="../../assets/sqicollege.png" width="100px" height="100px"/>
</div>
<form class="card col-6 mx-auto round ">
    <b class="signText text-center">Edit Your Profile</b>
        <div class="row">
            <div class="col-5 roundBorder row">
                <div class="col-2" style="padding: 0;">
                    <img src="../../assets/profile.png" width="70px" height="70px" class="profileSmall"/>
                </div>
                <div class="borderB col-9 mt-3 ml-2">
                    <span class="username">Toluwanimi</span><i class="fa fa-pencil pencil ml-3"></i>
                    <span class="email">toluwanimiosuolale@gmail.com</span>
                    <div class="divider-hr"></div>
                </div>
                <input type="date" class="form-control text-center inputEdit col-11 mx-auto"/>
                <div class="row col-12 mx-auto">
                    <input type="text" class="form-control text-center col-4 inputEdit border-right-0" style="border-radius: 150px 0 0 150px " value="+234"/>  
                    <input type="text" class="form-control text-center col-8 inputEdit" style="border-radius: 0 150px 150px 0; "/>  
                </div>
                <div class="col-12 text-center">
                    <button class="btn signButton blueButton">Update</button>
                </div> 
            </div>
            <!-- <div class="col-"></div> -->
            <div class="col-5 roundBorder text-center">
                <img src="../../assets/profile.png" class="imgProfile"/>

                <button class="btn signButton greyButton">Change Profile Photo</button>
            </div>
        </div>
    <!-- <input type="text" class="form-control text-center input col-10 mx-auto" placeholder="Choose Username"/>
    <div class="row col-11 mx-auto rowPad">
        <div class="col-5">
            <div class=" card cardRound h-100">
                <span class="rotate">Choose a profile photo</span>
            </div>
        </div>
        <div class="col-7">
            <div class="card cardRound h-100">
                <input type="text" class="form-control text-center inputEdit col-10 disabled mx-auto input1" value="tolu@gmail.com"/>
                <input type="date" class="form-control text-center inputEdit col-10 mx-auto"/>
                <div class="row col-11 mx-auto">
                    <input type="text" class="form-control text-center input3 col-4 inputEdit border-right-0" style="border-radius: 150px 0 0 150px " value="+234"/>  
                    <input type="text" class="form-control text-center col-8 input3 inputEdit" style="border-radius: 0 150px 150px 0; "/>  
                </div>               
            </div>          
        </div>
    </div>
    <input type="text" class="form-control text-center input col-10 mx-auto" placeholder="Confirm Password"/>
    <div class="col-10 mx-auto">
        <button class="btn float-right signButton">Proceed</button>
    </div>     -->
</form>