
<div class="logoContainer mx-auto">
    <img src="../../assets/sqicollege.png" width="100px" height="100px"/>
</div>
<!-- <form class="card col-md-6 col-sm-9 mx-auto round ">
    <b class="signText text-center">Edit Your Profile</b>
        <div class="row">
            <div class="col-5 roundBorder row">
                <div class="col-2" style="padding: 0;">
                    <img src="../../assets/profile.png" width="70px" height="70px" class="profileSmall"/>
                </div>
                <div class="borderB col-9 mt-3 ml-2">
                    <span class="username">Toluwanimi</span><i class="fa fa-pencil pencil ml-3"></i>
                    <span class="email">toluwanimiosuolale@gmail.com</span>
                    <div class="divider-hr"></div>
                </div>
                <input type="date" class="form-control text-center inputEdit col-11 mx-auto"/>
                <div class="row col-12 mx-auto">
                    <input type="text" class="form-control text-center col-4 inputEdit border-right-0" style="border-radius: 150px 0 0 150px " value="+234"/>  
                    <input type="text" class="form-control text-center col-8 inputEdit" style="border-radius: 0 150px 150px 0; "/>  
                </div>
                <div class="col-12 text-center">
                    <button class="btn signButton blueButton">Update</button>
                </div> 
            </div>
            <div class="col-5 roundBorder text-center">
                <img src="../../assets/profile.png" class="imgProfile"/>

                <button class="btn signButton greyButton">Change Profile Photo</button>
            </div>
        </div>
</form> -->
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10 col-sm-7">
            <div class="card mx-auto round text-center">
                <div class="card-body">
                    <div class="row justify-content-center">
                        <!-- <div class="col-md-9"> -->
                            <form>
                                <b class="signText text-center">Edit Your Profile</b>
                                <div class="card-body" style="margin-top: 1em;">
                                    <div class="row justify-content-center">
                                        <div class="col-lg-5 col-md-9 mx-auto roundBorder text-center">
                                            <img src="../../assets/profile.png" class="imgProfile"/>
                            
                                            <button class="btn signButton greyButton">Change Profile Photo</button>
                                        </div>
                                        <div class="col-lg-6 col-md-9 roundBorder mx-auto row">
                                            <span class="col-2" style="padding: 0;">
                                                <img src="../../assets/profile.png" width="70px" height="70px" class="profileSmall"/>
                                            </span>
                                            <span class="borderB col-9 mt-3 ml-2">
                                                <span class="username">Toluwanimi</span><br/>
                                                <span class="email">toluwanimiosuolale@gmail.com</span>
                                                <div class="divider-hr"></div>
                                            </span>
                                            <input type="date" class="form-control text-center inputEdit col-11 mx-auto"/>
                                            <div class="row col-11 mx-auto" style="padding: 0;">
                                                <input type="text" class="form-control text-center col-4 inputEdit border-right-0" style="border-radius: 150px 0 0 150px " value="+234"/>  
                                                <input type="text" class="form-control text-center col-8 inputEdit" style="border-radius: 0 150px 150px 0; "/>  
                                            </div>
                                            <div class="col-12 text-center">
                                                <button class="btn signButton blueButton">Update</button>
                                            </div> 
                                        </div>
                                        <!-- <div class="col-"></div> -->
                                    </div>
                                </div>
                            </form>
                        <!-- </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>