.round{
    border-radius: 1.5em;
    background-color: #F6F6F6;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    border:0px;
    margin-top: -50px;
    padding-top: 70px;
    /* z-index: -1; */
}
.signText{
    font-size: large;
    font-weight: 500; 
    margin-top: 20px;
}
.roundBorder{
    border-radius: 1em;
    border: #7D88AB solid 1px;
    margin-top: 1em;
    margin-left: 2.5em;
    margin-bottom: 2em;
}
.borderB{
    /* border-bottom: 1px solid #a6b0bb !important; */
    margin-bottom: 1.5em;
    margin-left: 5px;
}
.signButton{
    border-radius: 1.5em;
    font-weight: 500;
    width: fit-content;
    padding: 10px 20px 10px;
    font-size: large;
    margin-bottom: 1em;
}
.blueButton:hover, .blueButton:focus{
    background-color: #041A60;
    border: #041A60;
    box-shadow: none;
}
.blueButton{
    /* margin-top: 1em; */
    background-color: #041A60;
    border: #041A60;
    color: white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}
.greyButton:hover, .greyButton:focus{
    background-color: #FBFBFB;
    border: #FBFBFB;
    box-shadow: none;
}
.greyButton{
    background-color: #FBFBFB;
    border: #FBFBFB;
    color: #A4A4A4;
    box-shadow: 2px 2px 5px rgba(104, 103, 103, 0.4);
    /* margin-top: 13em; */
}
.imgProfile{
    max-width: 90%;
    /* max-height: 100%; */
    display: block;
}
.inputEdit{
    font-size: small;
    margin-top: 20px;
    border-radius: 20px;
    background-color: #FBFBFB;
    border: #7D88AB solid 1px;
    margin-bottom: 1em;
}
.inputEdit:focus{
    border: #7D88AB solid 1px;
    box-shadow: 0 0 0 0.1rem rgba(23, 50, 78, 0.25);
}
.logoContainer{
    border-radius: 50%;
    background-color: #F6F6F6;
    width: 100px;
    height: 100px;
    /* box-shadow: -1px -2px 5px rgba(0, 0, 0, 0.4); */
    z-index: 100;
    position: relative;
    padding-top: 20px;
    /* background-image: url('../../assets/sqicollege.png'); */
}
.email{
    font-size: small;
    font-weight: 500;
    color:#31437D;
    white-space: nowrap
}
.username{
    font-size: x-large;
    white-space: nowrap

}
.pencil{
    color:#31437D;
    font-size: larger;

}
.divider-hr {
    height: 0;
    margin: 0.5rem 0;
    overflow: hidden;
    border-top: 1px solid #a6b0bb;
}
.profileSmall{
    margin-top: 5px;
}

/*  */
.input{
    margin-top: 1em;
    border-radius: 20px;
    background-color: #FBFBFB;
    border: #7D88AB solid 1px;
    padding: 10px;
    font-weight: 500;
}
.input:focus{
    border: #7D88AB solid 1px;
    box-shadow: 0 0 0 0.1rem rgba(23, 50, 78, 0.25);
}

.input1{
    background-color: #DBDBDB;
    border: 0;
}
.cardRound{
    border-radius: 1.5em;
}
.rowPad{
    margin-top: 1.5em;
}
.rotate{
    transform: translate(0px,70px) rotate(-40deg);
    font-size: large;
    color:grey;
}