<!-- <p>navbar works!</p> -->
<!-- #this navbar is for desktop i will create another one for the mobile downward
    #this second navbar that contain the search bar
-->
<div class="d-none d-lg-block home-navber">
  <nav class="navbar mt-4 navbar-expand-md navbar-light" style="height: 40px;">
    <div class="container-fluid">
      <button type="button" routerLink="/" class="navbar-brand text-white text-size btn btn-link">Home</button>
      <div><a href="" routerLink="/categories" class="navbar-brand text-white text-size mr-5">Categories</a></div>
      <div>
        <form class="form-inline justify-content-center">
          <input class="form-control search-input col-md-12 mx-auto ml-sm-5"  type="text" placeholder="Search">
          <!-- <button class="btn btn-success" type="submit">Search</button> -->
        </form>
      </div>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a href="" class="nav-link text-white">Ask a Question? <span class=""><i class="fa fa-plus"></i></span></a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link"></a>
        </li>
      </ul>
    </div>
  </nav>
</div>
<!-- for mobile home nav -->
  <div class="d-block d-lg-none mobile-homenavber">
      <div class="row justify-content-center">
          <div class="col-3 col-md-3">
              <button type="button" routerLink="/" class="text-white text-size btn btn1-mobile">Home</button>
          </div>
          <div class="col-3 col-md-3">
            <button type="button" routerLink="/categories" class="text-dark text-size btn btn-link">category</button>
          </div>
          <div class="col-3 col-md-3">
            <button type="button" routerLink="/" class="text-dark text-size btn btn-link">Ask a Question</button>
          </div>
          <div class="col-3 col-md-3">
            <button type="button" routerLink="/" class="ml-3 text-white text-size btn btn-primary btn2-mobile"><i class="fa fa-plus"></i></button>
          </div>
      </div>
  </div>

