<!-- <p>navbar works!</p> -->
<!-- #this navbar is for desktop i will create another one for the mobile downward
    #this second navbar that contain the search bar
-->
<div class="row navRow">
  <div class="d-none d-md-block w-100">
    <nav class="navbar mt-2 home-navber p-1 navbar-expand-md navbar-light">
      <div class="container-fluid w-100">
        <button type="button" routerLink="/home" class="navbar-brand text-white text-size btn btn-link">Home</button>
        <div><a href="" routerLink="/categories" class="navbar-brand text-white text-size mr-5">Categories</a></div>
        <div class="w-50">
          <form class="form-inline justify-content-center">
            <input class="form-control col-md-12 mx-auto ml-sm-5"  type="text" placeholder="Search" (keyup)="emitText($event)">
          </form>
        </div>
        <ul class="navbar-nav ml-auto">
          
          <li class="nav-item">
            <a routerLink="/create" class="nav-link text-white"><span class="">Post<i class="ml-2 fa fa-plus" ></i></span></a>
          </li>
          <li class="nav-item">
            <a href="" class="nav-link"></a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>


<div class="d-md-none bg-white fixed-bottom bottomNav p-0 shadow border container-fluid">
  <nav class="nav nav-tabs p-0 nav-stacked text-center small nav-justified">
    <button routerLink="/home" class="buttomLinks ml-0 mr-0 mx-auto p-0 buttom-icon nav-link btn btn-light small btn-sm" href="#">
      <i class="fa fa-home"></i> <br/>
      Home
    </button>
    <button routerLink="/categories" class="buttomLinks ml-0 mr-0 mx-auto buttom-icon p-0 nav-link btn btn-light small btn-sm" href="#">
      <i class="fa fa-list-alt"></i> <br/>
      Categories
    </button>
    <button class="buttomLinks ml-0 mr-0 mx-auto p-0 nav-link btn buttom-icon btn-light small btn-sm" routerLink="/create">
      <i class="fa fa-plus"></i> <br/>
      Post
    </button>
  </nav>
</div>

