.home-navber{
  background:linear-gradient(to bottom, darkblue,#181c24);
  border-radius: 20px;
  color: white;
  position: -webkit-sticky;
  position: sticky;
  top: 57px;
  /* padding: 5px; */
  /* background-color: #cae8ca; */
  /* border: 2px solid #4CAF50; */
}
.form-control{
  /* width: 400px !important; */
  height: 30px;
  border-radius: 50px !important;
  box-shadow: none;
  border: none;
}
.text-size{
  font-size: 14px !important;
}
.t-radius{
  border-radius: 40px 20px !important;
}
.mobile-homenavber{
  position: -webkit-sticky;
  position: sticky;
  top: 57px;
}
.btn1-mobile{
  background: linear-gradient(to bottom, darkblue,#181c24);
  box-shadow: none;
}
.btn2-mobile{
  background: linear-gradient(to bottom, darkblue,#181c24);
  box-shadow: none !important;
  border-radius: 30px;
  border: white;
}
