.tr-style{
  border-bottom: 1px solid rgb(236, 236, 236);
}
/* @media  (max-width: 280px) { */
  @media screen and (max-width: 600px) {
    .carts-height{
      height: 500px;
      overflow:auto;
    }
  }
/* } */
