<!-- <p>categories works!</p> -->
<app-header></app-header>
<div class="container mt-2 p-1 p-md-3">
  <app-navbar></app-navbar>
  <div class="row">
    <div class="col-11 mt-n5 d-md-none mx-auto form-group">
      <input type="text" class="form-control" placeholder="Search...">
    </div>
    
    <div class="col-12 p-3 m-2 m-md-0 pr-md-5 pl-md-5 pb-md-5 pt-md-0 bg-white border rounded">
        <div class="row p-3">
            <h1 class="col-12">Categories</h1>

            <div *ngFor="let carts of categoriesArray"  class="col-md-3 col-6 text-center rounded">
              <div (click)="routeToCategories(carts.name)" class=" shadow card categoryCard mb-5">
                <img src="../../assets/image/dark.jpg" class="categoryImage rounded-top">
                <div class="card-body small p-3 cardText">
                  <b>{{carts.name}}</b>
                </div>
              </div>
            </div>
        </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
