<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-5 col-lg-6 sigInBackground mt-5">
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-6 col-lg-5 col-sm-9">
            <div class="card mx-auto round text-center">
                <div class="card-body">
                    <div class="row justify-content-center">
                        <div class="col-md-9">
                            <form [formGroup]="userForm">
                                <b class="signText">Sign-up to your account</b>
                                <div class="form-group mx-auto">
                                    <input type="text" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,3}$" class="form-control text-center input" placeholder="Email" formControlName="email" required appUsernameValidator [class.is-valid]="userForm.get('email').valid && userForm.get('email').dirty" [class.is-invalid]="userForm.get('email').invalid && userForm.get('email').touched"/>
                                    <span *ngIf="userForm.get('email').invalid">
                                        <small *ngIf="userForm.get('email').errors.existsErr" class="text-danger">
                                            Email already exists
                                        </small>
                                        <small *ngIf="userForm.get('email').errors.pattern && userForm.get('email').touched" class="text-danger">
                                            Invalid email address
                                        </small>
                                        <small *ngIf="userForm.get('email').errors.required && userForm.get('email').touched" class="text-danger">
                                            Email field cannot be empty
                                        </small>
                                    </span>
                                </div>
                                <div class="form-group mx-auto">
                                    <input type="text" class="form-control text-center input " placeholder="Username" formControlName="username" required [class.is-valid]="userForm.get('username').valid && userForm.get('username').touched" [class.is-invalid]="userForm.get('username').invalid && userForm.get('username').touched"/>
                                    <span *ngIf="userForm.get('username').invalid">
                                        <small *ngIf="userForm.get('username').errors.required && userForm.get('username').touched" class="text-danger">
                                            Username field cannot be empty
                                        </small>
                                    </span>
                                    <small *ngIf="username" class="text-danger">
                                        <span *ngFor="let i = index; let list of username">
                                            {{list}}
                                        </span> 
                                    </small>
                                </div>
                                <div class="form-group mx-auto">
                                    <input type="password" class="form-control text-center input " placeholder="Password" formControlName="password1" required [class.is-valid]="userForm.get('password1').valid && userForm.get('password1').touched" [class.is-invalid]="userForm.get('password1').invalid && userForm.get('password1').touched"/>
                                    <span *ngIf="userForm.get('password1').invalid">
                                        <small *ngIf="userForm.get('password1').errors.required && userForm.get('password1').touched" class="text-danger">
                                            Password field cannot be empty
                                        </small>
                                        <small *ngIf="userForm.get('password1').errors.minlength" class="text-danger">
                                            This password is too short. It must contain at least 8 characters
                                        </small>
                                    </span>
                                    <small *ngIf="password1" class="text-danger">
                                        <span *ngFor="let i = index; let list of password1Msg">
                                            {{list}}
                                        </span> 
                                    </small>
                                </div>
                                <div class="form-group mx-auto">
                                    <input type="password" class="form-control text-center input " placeholder="Confirm Password" formControlName="password2" required [class.is-valid]="userForm.get('password2').valid && userForm.get('password2').touched" [class.is-invalid]="userForm.get('password2').invalid && userForm.get('password2').touched"/>
                                    <span *ngIf="userForm.get('password2').invalid">
                                        <small *ngIf="userForm.get('password2').errors.required && userForm.get('password2').touched" class="text-danger">
                                            Confirm Password field cannot be empty
                                        </small>
                                        <small *ngIf="userForm.get('password2').errors.confirmPass && userForm.get('password2').touched" class="text-danger">
                                            Password doesn't match with Confirm Password
                                        </small>
                                    </span>
                                </div>
                                <div class="row">
                                    <div class="col-lg-5 col-md-12 col-sm-12 mt-4 pr-0">
                                        <button type="submit" class="d-none d-lg-block btn mr-auto signButton" (click)="signUp()" [disabled]="userForm.invalid">Sign Up</button>
                                        <button type="submit" class="btn mx-auto signButton d-block d-lg-none" (click)="signUp()" [disabled]="userForm.invalid">Sign Up</button>
                                    </div>
                                    <div class="col-lg-7 mt-4 textEdit mx-auto d-inline">
                                        <p class="text-right">Already have an account?</p>
                                        <p routerLink="/signIn" class="text-right textColorBlue linkBtn">Sign in!</p>
                                    </div>
                                </div>
                                <!-- <button type="submit" class="btn mx-auto signButton" (click)="signUp()" [disabled]="userForm.invalid">Sign Up</button>
                                <div class="col-12 textEdit mx-auto">
                                    <p class="text-right">Already have an account?</p>
                                    <p routerLink="/signIn" class="text-right textColorBlue linkBtn">Sign in!</p>
                                </div> -->
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>