<div class="logoContainer mx-auto">
    <img src="../../assets/sqicollege.png" width="100px" height="100px"/>
</div>
<div class="container ">
    <div class="row justify-content-center">
        <div class="col-md-11 col-lg-7 col-sm-7">
            <div class="card mx-auto round text-center">
                <div class="card-body">
                    <div class="row justify-content-center">
                        <div class="col-md-9">
                            <form class="">
                                <b class="signText">Almost there!</b>
                                <div class="form-group  mx-auto">
                                    <input type="text" class="form-control text-center input" disabled/>
                                </div>
                                <div class="row mx-auto rowPad">
                                    <div class="col-md-5 mt-2">
                                        <div class="card cardRound">
                                            <span class="fa fa-plus w-100 plus"></span>
                                            <span class="addProfile">Add a profile photo</span>
                                            <!-- <span class="rotate">Choose a profile photo</span> -->
                                        </div>
                                    </div>
                                    <div class="col-md-7 mt-2">
                                        <div class="card cardRound pr-3 pl-3">
                                            <input type="text" class="form-control text-center inputEdit mx-auto input1" disabled value="tolu@gmail.com"/>
                                            <input type="date" class="form-control text-center inputEdit mx-auto"/>
                                            <div class="row mx-auto">
                                                <input type="text" class="form-control text-center input3 col-4 inputEdit border-right-0" style="border-radius: 150px 0 0 150px " value="+234"/>  
                                                <input type="text" class="form-control text-center col-8 input3 inputEdit" style="border-radius: 0 150px 150px 0; "/>  
                                            </div>               
                                        </div>          
                                    </div>
                                </div>
                                <div class="form-group  mx-auto">
                                    <input type="text" class="form-control text-center input" disabled/>
                                </div>
                                <button class="btn float-right signButton">Proceed</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>