<!-- <p>sub-categories works!</p> -->
<div class="container p-5 mt-4 bg-white">
  <app-navbar></app-navbar>
  <div class="row mt-2 p-3 justify-content-center">

      <!-- <div class="col-12 col-lg-12 "> -->
        <div class="table-responsive">
            <table class="table table-borderless table-hover">
                <thead class="thead t-radius border card-body">
                  <tr>
                    <th class="th">Topic</th>
                    <th>HACKS</th>
                    <th>UPVOTE</th>
                    <th>DATE</th>
                    <th>REPLIES</th>
                  </tr>
                </thead>
                <tbody class="tbody table" style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
                  <tr class="tr-style">
                    <td class="p-3">Lorem ipsum dolor sit aconsectetur adipisicing elit. Natus consectetur architecto </td>
                    <td class="hack">Hacl</td>
                    <td>200</td>
                    <td>19-4-2019</td>
                    <td>28</td>
                  </tr>
                  <tr>
                    <td class="p-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus consectetur architecto </td>
                    <td>Hacl</td>
                    <td>200</td>
                    <td>19-4-2019</td>
                    <td>28</td>
                  </tr>
                  <tr>
                    <td class="p-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus consectetur architecto </td>
                    <td>Hacl</td>
                    <td>200</td>
                    <td>19-4-2019</td>
                    <td>28</td>
                  </tr>
                  <tr>
                    <td class="p-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus consectetur architecto </td>
                    <td>Hacl</td>
                    <td>200</td>
                    <td>19-4-2019</td>
                    <td>28</td>
                  </tr>
                  <tr>
                    <td class="p-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus consectetur architecto </td>
                    <td>Hacl</td>
                    <td>200</td>
                    <td>19-4-2019</td>
                    <td>28</td>
                  </tr>
                  <tr>
                    <td class="p-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus consectetur architecto </td>
                    <td>Hacl</td>
                    <td>200</td>
                    <td>19-4-2019</td>
                    <td>28</td>
                  </tr>
                  <tr>
                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus consectetur architecto </td>
                    <td>Hacl</td>
                    <td>200</td>
                    <td>19-4-2019</td>
                    <td>28</td>
                  </tr>
                  <tr>
                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus consectetur architecto </td>
                    <td>Hacl</td>
                    <td>200</td>
                    <td>19-4-2019</td>
                    <td>28</td>
                  </tr>
                  <tr>
                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus consectetur architecto </td>
                    <td>Hacl</td>
                    <td>200</td>
                    <td>19-4-2019</td>
                    <td>28</td>
                  </tr>
                </tbody>
            </table>
        </div>
      <!-- </div> -->
  </div>
</div>
