<app-header></app-header>
<div class="container mt-md-2 p-1 p-md-3 mt-n5">
  <app-navbar></app-navbar>

  <div class="row">
    <div class="bg-white col-xl-9 col-lg-8 pl-md-0 col-md-8 col-12 rounded border p-md-4 p-2">
      <div class="row">
        <h2 class="col-md-6">Posts Under Dynamic Category</h2>
      </div>
      <div *ngFor="let item of topicsArray" class="clearfix p-2 m-2 border-bottom">
        <h5 class="heading"><a (click)="viewPostDetails(item.slug, item.id)" class="text-dark titleLink font-weight-bold">{{item.title}}</a></h5>
        <div class="small">
          <span class="small text-muted mr-2" *ngIf="item.author">by {{item.author.username}}&nbsp; |</span>
          <span class="text-muted mr-2">Date: {{item.created | slice:0:10}}&nbsp; | </span>
          <span class="text-muted mr-2">{{item.comments_count}} Comments &nbsp;</span>
          <span class="text-primary fa fa-thumbs-up float-right mr-3">{{item.upvotes_count}}</span>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-4 col-md-4 d-none d-sm-inline w-100 pr-0 ml-auto mt-n2 row">
      <!-- <div class="col-12 bg-white rounded border p-3" *ngIf="!LoginStatus">
        <h4 class="mb-4">Hello stranger!</h4>
        <p class="small mt-4 mb-4">
          Welcome, to access the full features of SQI forum, you have to register login.
        </p>
        <button routerLink="/signIn" class="mx-auto btn-sm btn text-white sidebtns">Sign In</button>
        <button routerLink="/signUp" class="mx-auto btn-sm float-right text-white btn sidebtns">Sign Up</button>
      </div>  -->
      <!-- <div class="col-12 bg-white rounded border p-3" *ngIf="LoginStatus">
        <h4 class="mb-4">Welcome back, {{userDet.username}}</h4>
        <p class="small mt-4 mb-4">
          Words words words words words words words words words words words words words
        </p>
        <button class="mx-auto btn-sm btn text-white sidebtns">View Profile</button>
        <button class="mx-auto btn-sm float-right text-white btn sidebtns">Log out</button>
      </div> -->
      <!-- <div class="bg-white col-12 mt-2 rounded border p-3">
        <span *ngIf="loadingCategories">
        <div  *ngFor="let categories of categories">
          <span>{{categories.name}}</span>
          <button class="mx-auto btn-sm float-right btn text-white sidebtns font-weight-bold">{{categories.post_count}}</button> <hr/>
        </div>
        </span>
      </div> -->
    </div>
  </div>
</div>

<app-footer></app-footer>