body{
  background-color: red;
}
.hack{
  color: #FFBB00;
}
.reduce-text{
  white-space:nowrap;
  width:150px;
  overflow:hidden;
  text-overflow:ellipsis;
}
.reduce-textdesktop{
  white-space:nowrap;
  width:300px;
  overflow:hidden;
  text-overflow:ellipsis;
}
.tr-style{
  border-bottom: 1px solid rgb(236, 236, 236);
}
.category-hover:hover{
  cursor: pointer;
}
.drop-height{
    height: 320px;
    overflow:auto
}
.card-style{
  height: 30px !important;
  border-radius: 20px 20px 7px 7px;
}
.titleLink{
  
}
.titleLink:hover{
  cursor: pointer;
}

.sidebtns{
	min-width: 50px !important;
	background-color: #2E3A58;
	box-shadow: none !important;
}
